---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.navbar-default{
  background: #CBCBCB !important;
  border: none !important;

}

.navbar-default .navbar-nav > li > a{
    color:#484848 !important;
}
.navbar-default .navbar-nav > li > a:hover{
    color:#DD5538 !important;
    background-color: #FFFFFF !important;

}
.navbar-default .navbar-nav > li > a:focus{
    color:#DD5538 !important;
}
.navbar-default .navbar-brand{
  color:#DD5538 !important;
}
.footer-content{
  text-align: center;
  padding: 0.5em;
}
body{
  background-color: #F6F6F6 !important;
  font-family: 'Roboto',sans-serif !important;
  font-weight: 300 !important;
  color: #282828 !important;
}
.page-stuff{
  border-top: 1px dotted #DD5538;
  border-bottom: 1px dotted #DD5538;
  a {
    color: lighten(#282828, 20%) !important;
    text-decoration: none;
      &:hover{
        color:#DD5538 !important;
        text-decoration: none !important;
        border-bottom: 1px dotted #DD5538;
        padding-bottom:0.5em;
      }
    }
  }
#page-content{
  padding-bottom: 4em;
}

.page-stuff{
  padding-top: 2em;
  padding-bottom: 5em;
}
.jumbotron {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  background: #FFFFFF !important;
  color: #DD5538 !important;
  text-align: center;
  padding-bottom: 14px !important;


  h1 {
    font-size: 38px !important;
    font-weight: 100 !important;
  }

  p {
    font-size: 16px !important;
    margin-bottom: 0px !important;
  }
}
a {
    color: lighten(#282828, 20%) !important;
    text-decoration: none;
}
a:hover{
  color:#DD5538 !important;
  text-decoration: none !important;
  border-bottom: 1px dotted #DD5538;
}

ul {
  list-style-type: none !important;
}

ul li::before {
  display: inline-block;
  border-radius: 1px;
  content: '';
  width: 4px;
  height: 4px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #CC0000;
}

.post-list{

    text-align: center;

}
.post-box{
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px dotted #DD5538;
}

.post-box:first-child {
  border-top: 1px dotted #DD5538;
}

.post-title{
  font-size: 20px !important;
  color: #DD5538 !important;
}

.post-excerpt{
  color: #585858 !important;
padding-top: 0.5em;
padding-bottom: 0.3em;
}
.post-title-main{
  text-align: center;
  color: #282828 !important;
}
.post-content{
  font-size: 19px;
  text-align: justify;
  padding-bottom: 5em;
}
pre{
background-color: black !important;
border:none !important;
border-radius: 0px !important;
font-size: 20px !important;
padding: 1.5em !important;
color:white !important;
}
.post-meta{
  color: #DD5538 !important;
}

code{
  background-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0px !important;
}

.page-tagline{
  font-size: 20px;
  text-align: center;
}

.download{
  padding:2em;
  font-size: 19px;
}
.intro{
  font-size: 19px;

}
.manual-title{
  font-size: 21px;
  padding: 1em;
  text-transform: uppercase;

}
.manual-content{
  text-align: justify;
  font-size: 19px;
}

.man-title{
  font-size: 22px;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;

}

.jumbotron{
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
.navbar{
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}
// Our variables
$base-font-family: 'Roboto', sans-serif;
$base-font-size:   16px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "syntax-highlighting"
;

.blog {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300 !important;
  color: #282828;
}

img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}