body {
  background-color: #383c38 !important;
  font-family: "Roboto", sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  color: #282828 !important;
  text-decoration: none !important;
}

.navbar-default {
  height: 75px;
  background: rgba(46, 44, 44, 0.78) !important;
  border: none !important;
}

.navbar-default .navbar-nav a {
  color: #c4c4c4 !important;
  font-size: 19px;
  line-height: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 2px solid transparent !important;
}

.navbar-default .navbar-nav a:hover {
  color: #38d430 !important;
  border-bottom: 2px solid #38d430 !important;
}

.navbar-default .navbar-nav a:focus {
  color: #38d430 !important;
  border-bottom: 2px solid #38d430 !important;
}

.navbar-default .navbar-brand {
  color: #38d430 !important;
  font-family: Roboto;
  font-size: 38px;
  line-height: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar-default .navbar-brand:hover {
  color: #c4c4c4 !important;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.footer-content {
  text-align: center;
  padding: 0.5em;
}

.footer-content a {
  color: #38d430 !important;
}

.page-stuff {
  border-top: 1px dotted #dd5538;
  border-bottom: 1px dotted #dd5538;
}

.page-stuff a {
  color: #5b5b5b !important;
  text-decoration: none;
}

.page-stuff a:hover {
  color: #dd5538 !important;
  text-decoration: none !important;
  border-bottom: 1px dotted #dd5538;
  padding-bottom: 0.5em;
}

#page-content {
  padding-bottom: 4em;
}

.page-stuff {
  padding-top: 2em;
  padding-bottom: 5em;
}

.jumbotron {
  position: relative;
  z-index: 2;
  height: 393px;
  font-family: "Roboto", sans-serif !important;
  font-weight: 300 !important;
  background: rgba(7, 7, 7, 0.72) !important;
  color: #dd5538 !important;
  text-align: center;
  margin-bottom: 95px !important;
  padding-bottom: 14px !important;
}

.jumbotron .container {
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
}

.jumbotron .container .header-decor {
  display: block;
  width: 51px;
  height: 0px;
  margin: auto;
  border-top: 4px solid #38d430;
}

.jumbotron .container h1 {
  font-size: 38px !important;
  font-weight: 100 !important;
  color: #ebebea !important;
  font-size: 77px !important;
}

.jumbotron-img {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 393px;
}

ul li::before {
  display: inline-block;
  border-radius: 1px;
  content: "";
  width: 4px;
  height: 4px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #cc0000;
}

.post-box {
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
  width: calc(33.33% - 36px);
  height: 282px;
  margin: 0 36px 36px 0;
  padding: 20px 30px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  float: left;
}

.post-box .post-title {
  font-size: 18px !important;
  color: #2e2c2c !important;
  font-weight: 600 !important;
}

.post-box .post-excerpt {
  font-size: 14px !important;
  color: #242724 !important;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

.post-box .posted-on {
  font-size: 14px !important;
}

.post-box:nth-child(1n) {
  background: #bec3c2;
}

.post-box:nth-child(2n) {
  background: #aebcae;
}

.post-box:nth-child(3n) {
  background: #e0e2ca;
  margin-right: 0;
}

.post-box:first-child {
  width: calc(66.66% - 36px);
  margin-right: 36px;
  padding: 70px 70px;
  height: 600px;
  font-size: 29px;
}

.post-box:first-child .post-title {
  font-size: 25px !important;
  font-weight: 600 !important;
  margin-bottom: 25px;
}

.post-box:first-child .post-excerpt {
  font-size: 20px !important;
  margin-bottom: 15px;
}

.post-box:first-child .posted-on {
  font-size: 20px !important;
}

.post-box:nth-child(2) {
  margin-right: 0;
}

.post-box:nth-child(3) {
  margin-right: 0;
}

.post-box .read-more {
  position: absolute;
  bottom: 18px;
  left: 60px;
  display: block;
  width: 187px;
  height: 41px;
  background: #acd281;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  font-size: 16px;
  color: #474f47;
  text-transform: uppercase;
  line-height: 41px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.post-box .read-more:hover {
  background: #8bad64;
  text-decoration: none;
}

.post-title-main {
  text-align: center;
  color: #282828 !important;
}

.post-content {
  font-size: 19px;
  text-align: justify;
  padding-bottom: 5em;
}

pre {
  background-color: black !important;
  border: none !important;
  border-radius: 0px !important;
  font-size: 20px !important;
  padding: 1.5em !important;
  color: white !important;
}

.post-meta {
  color: #dd5538 !important;
}

code {
  background-color: black !important;
  color: white !important;
  border: none !important;
  border-radius: 0px !important;
}

.page-tagline {
  font-size: 20px;
  text-align: center;
}

.download {
  padding: 2em;
  font-size: 19px;
}

.intro {
  font-size: 19px;
}

.manual-title {
  font-size: 21px;
  padding: 1em;
  text-transform: uppercase;
}

.manual-content {
  text-align: justify;
  font-size: 19px;
}

.man-title {
  font-size: 22px;
  text-align: center;
  padding: 1em;
  letter-spacing: 2px;
}

.jumbotron {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

.navbar {
  -webkit-box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
}

img {
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  .post-box {
    height: 360px;
    margin: 0 36px 36px 0;
    padding: 20px 30px;
  }
  .post-box .post-title {
    font-size: 16px !important;
    font-weight: 600 !important;
  }
  .post-box .post-excerpt {
    font-size: 14px !important;
  }
  .post-box .posted-on {
    font-size: 14px !important;
  }
  .post-box:first-child {
    padding: 70px 50px;
    height: 756px;
    font-size: 27px;
  }
  .post-box:first-child .post-title {
    font-size: 25px !important;
  }
  .post-box:first-child .post-excerpt {
    margin-bottom: 25px;
  }
  .post-box:first-child .posted-on {
    font-size: 20px !important;
  }
  .post-box .read-more {
    left: 50px;
    width: 157px;
  }
}

@media screen and (max-width: 990px) {
  .post-box {
    width: calc(50% - 18px);
    height: 282px;
    margin: 0 0 36px 0;
    padding-top: 30px;
    height: 350px;
  }
  .post-box .post-title {
    margin-bottom: 10px;
  }
  .post-box:first-child {
    width: 100%;
    height: 500px;
    margin: 0 0 36px 0;
  }
  .post-box:nth-child(2) {
    margin-right: 36px;
  }
  .post-box:nth-child(3) {
    margin-right: 0;
  }
  .post-box:nth-child(2n + 2) {
    margin-right: 36px;
  }
  .post-box .read-more {
    left: 50px;
    width: 147px;
  }
}

@media screen and (max-width: 650px) {
  .post-box {
    width: 100%;
    height: 290px;
    padding: 40px 50px 0 50px;
  }
  .post-box .post-title {
    margin-bottom: 20px;
  }
  .post-box:first-child {
    height: 450px;
    padding-top: 50px;
  }
  .post-box .read-more {
    left: 50px;
    width: 147px;
  }
}
/*# sourceMappingURL=main.css.map */