html,
body {
  font-family: "Roboto", sans-serif;
  background-color: #2e2c2c;
  margin: 0 auto;
  font-weight: 300;
  max-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}
* {
  scroll-behavior: smooth;
}

h1 {
  font-size: 1.5em;
  font-weight: 400;
}

h2 {
  font-size: 1.17em;
  font-weight: 400;
}

p {
  color: #ffffff;
  margin: 0 0 20px 0;
  font-size: 14px;
}

main {
  width: 100%;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #38d430;
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav span {
  padding: 0.8em 0;
  text-align: left;
}

.title {
  font-size: 2em;
  font-weight: 500;
}

.big-text {
  font-size: 1.4em;
  word-wrap: break-word;
}

.text-middle {
  text-align: center;
  font-size: 4em;
}

.green-text {
  color: #38d430 !important;
}

a.green-text:hover {
  color: #ffffff !important;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form label {
  width: 100%;
  padding: 0 2em 0 0;
  text-align: center;
}

.form label h2 {
  color: #ffffff;
  font-weight: 500;
  text-shadow: 1px 1px #000000;
}

.form input.email {
  background: #f7f9f4;
  border-radius: 3px;
  margin: 0 0.2em 0 0;
  max-width: 240px;
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana,
    sans-serif;
  font-size: 15px;
  border: 1px solid #abb0b2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color: #343434;
  background-color: #fff;
  box-sizing: border-box;
  height: 32px;
  min-width: 200px;
  padding: 0px 0.4em;
  display: inline-block;
}

.form .button {
  background: #38d430 !important;
  border-radius: 3px;
  color: #ffffff;
  max-width: 240px;
  font-size: 13px;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #aaa;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  transition: all 0.25s ease-in-out 0s;
}

.form .button:hover {
  border: solid 1px#ABB0B2;
  background: #f7f9f4 !important;
  color: #38d430 !important;
}

header {
  display: flex;
  margin: 18px auto;
  max-width: 1020px;
  max-height: 60px;
}

header h1 {
  margin: auto;
}

.pcengines-header {
  display: flex;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}

.pcengines-header h1 {
  color: #38d430;
}

.pcengines-header__about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1020px;
  margin: 1em 0 1em 0;
  padding: 10px 60px;
}

.pcengines-header__about header {
  margin: 0;
}

.pcengines-header__about h1 {
  margin: auto;
  font-weight: 400;
  padding: 0;
}

.pcengines-header__about span {
  margin: 0 1em 0 0;
}

.first-container {
  z-index: 1;
}

.container {
  width: 100%;
}

.container:nth-child(2n) {
  background-color: #383c38;
}

.container__form {
  border: 1px solid #ffffff;
  align-self: center;
  max-width: 570px;
  padding: 0 2em;
  margin: 2em 0;
}

.container__image {
  background: right bottom url("../assets/main_page_cover.jpg");
  background-size: 100%;
  width: 100%;
  z-index: 0;
}

.container__image--about {
  background: center url("../assets/about_page_cover.jpg");
  background-size: 100%;
  width: 100%;
  z-index: 0;
  min-height: 300px;
}

.container__image::before {
  background: #2e2c2c none repeat scroll 0 0;
  content: "";
  height: 800px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: -25%;
  transform: skew(-30deg);
  width: 75%;
}

.container__image::after {
  background: #2e2c2c none repeat scroll 0 0;
  content: "";
  height: 400px;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

.wrapper {
  position: relative;
  max-width: 1020px;
  display: flex;
  flex-direction: column;
  margin: 0em auto;
  padding: 4em 60px;
}

.wrapper--about {
  max-width: 1020px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 2em auto;
  padding: 10px 60px;
}

.about__info {
  width: 100%;
}

.about__contact {
  background: #e7e7e7;
  text-align: center;
  padding: 2em 1em;
  margin: 0 2em;
  max-width: 156px;
  height: 80px;
}

.about__contact p {
  color: #000000;
  width: 100%;
}

.about__contact a {
  color: #000000;
  border: 1px solid #000000;
  padding: 0.4em;
}

.about__contact a:hover {
  color: #38d430;
  border: 1px solid #38d430;
  padding: 0.4em;
}

.table-of-content {
  display: flex;
  flex-direction: column;
}

.main-list {
  max-width: 100%;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.list li {
  width: 80px;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 1;
  margin: auto;
  width: 100%;
  background-color: #2e2c2c;
  align-items: center;
}

.footer-text {
  margin: 0.5em auto;
  border: 1px solid #ffffff;
  padding: 0.2em 3em;
}

.footer-text a {
  color: #38d430;
  text-decoration: none;
  font-weight: 600;
}

.footer-text a:hover {
  color: #ffffff;
  text-decoration: none;
}

ul,
ol {
  font-size: 13px;
  line-height: 170%;
  padding: 0;
  margin: 0;
}

ul ol {
  padding: 0 0 0 2em;
}

ul,
ol li {
  list-style-type: none;
}

ul li::before {
  display: inline-block;
  border-radius: 1px;
  content: "";
  width: 4px;
  height: 4px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #38d430;
}

ol li::before {
  display: inline-block;
  border-radius: 2px;
  content: "";
  width: 3px;
  height: 3px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #38d430;
}

ul li:last-child {
  padding-bottom: 10px;
}

li {
  word-wrap: break-word;
}

.source-code-links {
  display: flex;
  flex-wrap: wrap;
}

.source-code-links__zip-packages {
  margin: 0 4em;
}

.source-code-links__zip-packages ul li:before {
  content: none;
}

.source-code-links__binaries ul li:before {
  content: none;
}

.up-link {
  position: fixed;
  bottom: 6px;
  right: 5px;
  z-index: 1;
}

.up {
  margin: 0 0.5em 0 0;
  width: 40px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  color: #00cc00;
  z-index: 1;
  border: 1px solid #00cc00;
  background-color: #fff;
}

.up:focus {
  outline: none;
}

.up:active {
  border: 1px solid #38d430;
  color: #38d430;
}

.dimmed-text p {
  font-size: 12px;
}

.smaller-margin p {
  margin: 10px 0;
}

table {
  max-width: 100%;
  margin: 24px auto;
  font-size: 13px;
  border: 1px solid #ffffff;
  border-collapse: collapse;
}

tr:first-of-type {
  border: 1px solid #ffffff;
}

th {
  padding: 8px 12px;
  text-align: left;
  font-weight: 300;
  color: #38d430;
}

td {
  max-width: 170px;
  padding: 8px 12px;
}

sup {
  font-size: 9px;
  color: #fff;
}

.line {
  width: 50%;
  margin: 0 0 2em 0;
  border-color: #666363;
}

.line--about {
  position: absolute;
  width: 4.25%;
  border: 5px solid #38d430;
  align-self: center;
  bottom: 190px;
}

.sha-button {
  border: solid 1px #38d430;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  margin-left: 5px;
  transition: background-color, color 0.25s ease-in-out;
}

.sha-button:hover {
  background-color: #38d430 !important;
  color: #000000;
}

@media screen and (max-width: 700px) {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .form label {
    padding: 0 !important;
  }

  .form input.email {
    margin: 0 0 0.2em 0 !important;
    width: 100%;
  }

  .form .button {
    margin: 0 0 0.6em 0 !important;
    width: 100%;
  }

  .source-code-links {
    justify-content: space-between;
  }

  .source-code-links__zip-packages {
    margin: 0;
  }
}

@media (max-width: 462px) {
  th,
  td {
    padding: 8px 2px;
  }

  .source-code-links {
    max-width: 100%;
    display: block;
  }

  .source-code-links__binaries {
    max-width: 100%;
    display: block;
  }

  .source-code-links__source-code {
    max-width: 100%;
    display: block;
  }

  ul.source-code-links__binaries--list li {
    margin: 15px 0px;
  }
}

@media screen and (max-width: 500px) {
  .container__image::before {
    background: #2e2c2c none repeat scroll 0 0;
    content: "";
    height: 800px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -25%;
    transform: skew(-15deg);
    width: 77%;
  }

  .container__image::after {
    background: #2e2c2c none repeat scroll 0 0;
    content: "";
    height: 600px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -60%;
    transform: skew(-15deg);
    width: 60%;
  }
}

@media screen and (max-width: 1000px) {
  .container__image {
    background-size: 150%;
  }
  .container__image--about {
    background-size: 150%;
  }
}

@media screen and (max-width: 700px) {
  .container__image {
    background-size: 300%;
  }

  .wrapper--about {
    flex-direction: column;
    align-items: center;
  }
}
