html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #2E2C2C;
    margin: 0 auto;
    font-weight: 300;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}
* {scroll-behavior: smooth;}

h1 {
    color: #FFFFFF;
}

h2,
h3,
h4,
h5,
h6 {
    color: #FFFFFF;
    font-weight: 300;
}

p {
    color: #FFFFFF;
    margin: 0 0 20px 0;
    font-size: 14px;
}

a,
a:active,
a:visited {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #38D430;
    text-decoration: none;
}

nav {
    display: flex;
    width:780px;
}

.nav {
    max-width: 780px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav span {
    padding: 0.8em 0;
    text-align: left;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form label {
    padding: 0 2em 0 0 !important;
}

@media screen and (max-width:600px) {
    .nav {
        font-size: 11px !important;
    }
}    

.link {
    padding: 6px 16px;
    font-weight: 400;
    border-right: 1px dotted #38D430;
    vertical-align: middle;
    text-align: center;
}

.link:hover {
    background-color: #fff;
}

.link:nth-child(1) {
    border-left: 1px dotted #38D430;
}

header {
    display: flex;
    display: -webkit-flex;
    margin: 18px auto;
    max-width: 900px;
    max-height: 60px;
}

header h1 {
    margin: auto;
    font-weight: 300;
    padding: 0;
}

header h4 {
    margin: auto;
    height: 38px;
    padding: 0;
}


.pcengines-header {
    display: flex;
    display: -webkit-flex;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.pcengines-header h1, h4 {
    color: #38D430;
}

.container__darker {
    background-color: #2E2C2C;
    width: 100%;
    z-index: 1;
}

.container__brighter {
    background-color: #383C38;
    width: 100%;
    z-index: 1;
}

.container__form {
    border: 1px solid #FFFFFF;
    max-width: 780px;
    padding: 0 2em;
    margin: 2em 0;
}

.container__image{
    background: right bottom url("../assets/main_page_cover.jpg");
    background-size: 100%;
    width: 100%;
    z-index: 0;
}

.container__image::before {
    background: #2E2C2C none repeat scroll 0 0;
    content: "";
    height: 800px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: -25%;
    transform: skew(-30deg);
    width: 81%;
}

.container__image::after {
    background: #2E2C2C none repeat scroll 0 0;
    content: "";
    height: 1000px;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;

    width: 28%;
}

.wrapper {
    max-width: 780px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
    padding: 10px 60px;
}

.table-of-content {
    display: flex;
    justify-content: space-around;
}

.main-list {
    max-width: 100%;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: #2E2C2C;
    
}

.footer-text {
    margin: 0.5em auto;
    border: 1px solid #FFFFFF;
    padding: 0.2em 3em;
}

.footer-text a {
    color: #38D430;
    text-decoration: none;
    font-weight: 600;
}

.footer-text a:hover {
    color: #FFFFFF;
    text-decoration: none;
}


ul,
ol {
    font-size: 13px;
    line-height: 170%;
    padding-left: 32px;
    margin-top: 0;
}

ul,
ol li {
    list-style-type: none;
}

ul li::before {
    display: inline-block;
    border-radius: 1px;
    content: '';
    width: 4px;
    height: 4px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #38D430;
}

ol li::before {
    display: inline-block;
    border-radius: 2px;
    content: '';
    width: 3px;
    height: 3px;
    vertical-align: middle;
    margin-right: 8px;
    background-color: #38D430;
}

ul li:last-child {padding-bottom: 10px;}

.source-code-links-binaries {
    max-width: 100%;
    display: flex;
    justify-content: space-between; }

.source-code-column {
    max-width: 40%;
    display: block;
    flex: 1; }

.binaries-column {
    max-width: 60%;
    display: block;
    flex: 1; }

.up {
    position: fixed;
    bottom: 1px;
    right: 1px;
    width: 50px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    color: #00CC00;
    border: 1px solid #00CC00;
    background-color: #fff; }
    .up:focus {
        outline: none; }
    .up:active {
        border: 1px solid #38D430;
        color: #38D430; }

.text-middle {
    text-align: center;
    vertical-align: middle;
    margin-bottom: 30px; }

.dimmed-text p {
    font-size: 12px;
    color: #FFF; }

.smaller-margin h3,
.smaller-margin h4,
.smaller-margin p {
    margin-top: 10px;
    margin-bottom: 10px;}

.smaller-margin>h4>a {
    color: #38D430;
    text-decoration: none; }
.smaller-margin>h4>a:hover {
    color: #00CC00;
    text-decoration: none; }

table {
    max-width: 100%;
    margin: 24px auto;
    font-size: 13px;
    border-bottom: 1px solid #38D430;;
    border-top: 1px solid #38D430;
}

th {
    border-bottom: 1px dashed #38D430;
    padding: 8px 12px;
    text-align: left;
    font-weight: 300;
    color: #38D430;
}

td {
    max-width: 170px;
    padding: 8px 12px;
}

code {
    background-color: #fff;
    color: #FFF;
}

sup {
    color: #FFF;
}

.break {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 1px dotted #38D430;
}

sup {
    font-size: 9px;
}

.sha-button {
    border: solid 1px #38D430;
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    margin-left: 5px;
}

.sha-button:hover {
    background-color: #fff !important;
}

@media (max-width: 462px) {
    th,
    td {
        padding: 8px 2px;
    }
    .source-code-links-binaries {
        max-width: 100%;
        display: block;
    }
    .binaries-column {
        max-width: 100%;
        display: block;
    }
    .source-code-column {
        max-width: 100%;
        display: block;
    }
}